
<span style="font-family: verdana, geneva, sans-serif;"><!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>dashboard</title>
      <link rel="stylesheet" href="dashborad.css" />

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    </head>
    <body>
      <div class="container">
        <nav>
          <ul>
            <li><a href="#" class="logo">
              <span class="nav-item">Sleepy Scholars</span>
            </a></li>
<!-- if you need to enter a new item on the list just copy one of the <li></li> and change it as needed -->
<!--i think just clicking on survey then redirecting them to results after is the best way to go about this -->
            <li><a href="#">

            <li><a href="survey.html">
              <i class="fas fa-user"></i>
              <span class="nav-item">Start survey</span>
            </a></li>

            <li><a href="results.html">
              <i class="fas fa-chart-bar"></i>
              <span class="nav-item">Survey results</span>
            </a></li>

            <!-- im not sure if we even need a profile for users to view? i think just having them take the survey
            the redirecting them to results after is good enough and maybe letting them take it again if they want? i think its better 
            to keep everything as simple as possible -->
            <li><a href="">
              <i class="fas fa-tasks"></i>
              <span class="nav-item">Profile</span>
            </a></li>
            <!--if you decide you dont want profiles just delete this above-->

            <li><a href="Homepage.html" class="logout">
              <i class="fas fa-sign-out-alt"></i>
              <span class="nav-item">Log out</span>
            </a></li>
          </ul>
        </nav>
        <section class="main">
          <div class="main-top">
            <h1>Dashboard</h1>
          </div>

          <div class="health-tab">

            <div class="health">
              <h3>How sleep affects your health</h3>
              <p>Click here to learn how sleep can affect your health</p>
              <a href="https://www.webmd.com/sleep-disorders/poor-sleep-affects-health"><button>Read More</button></a>
            </div>

            <div class="health">
              <h3>CDC sleep and health information</h3>
              <p>Learn more about sleep and health from the center of disease control</p>
             <a href="https://www.cdc.gov/healthyschools/sleep.htm"><button>Read More</button></a>
            </div>

            <div class="health">
              <h3>nutritiona & sleep</h3>
              <p>learn about how nutrition can directly affect sleep </p>
              <a href="https://www.thensf.org/the-link-between-nutrition-and-sleep/#:~:text=There's%20a%20connection%20between%20nutrition,also%20lead%20to%20poor%20sleep."><button>Read More</button></a>
            </div>

            <div class="health">
              <h3>drug usage & sleep</h3>
              <p>learn how drug usage can affect sleep</p>
             <a href="https://thepcc.org/resource/sleep-and-addiction"> <button>Read More</button></a>
            </div>

          </div>
          <section class="main-course">
            <div class="course-box">
              <ul>
                <li class="active">Welcome</li>
              </ul>
              <p> please take the survey to recieve information back about your sleep habits and potential health risk</p>
              </div>
            </div>
          </section>
        </section>
      </div>
    </body>
    </html></span>