<!DOCTYPE html>
<html lang="en">

<!--homepage-->
<!DOCTYPE html>
<html lang="en">

<!--i know how to make UI layouts but have no idea how to make this functional just use it as a guide line if needed- zach-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatable" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sleepy Scholars survey</title>
    <link rel="stylesheet" href="../static/styles/homepage.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h2 class="logo">Sleepy Scholars</h2>
        <nav class="navigation">
            <a href="#">Admin Login</a>
            <a href="https://jsums.instructure.com/login/canvas">Canvas</a>
            <a href="https://ssb-prod.ec.jsums.edu/PROD/twbkwbis.P_GenMenu?name=homepage">Paws</a>
            <a href="https://www.jsums.edu/">Jackson State Website</a>
            <a href="/login"> Login</a>
        </nav>
    </header>

    <!-- man im so dumb and had so many issues with the css file i just GAVE UP Fuck it we br \O/-->
    <section class="welcome">
        <h1 id="text"> Welcome</h1>
    </section>
    <section class="sec">
        <p>
            <br><br><br><br><br><br><br>
            welcome to sleepy scholars created by code collective. more information should be entered<br>
            here idk what to put here but ill figure out something damnit.
        </p>
    </section>




</body>