<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>survey</title>
    <link rel="stylesheet" href="../static/styles/survey.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>

<body>
    <div class="heading">
        <h1 id="head"> sleep survey</h1>
    </div>

    <!-- Add the action attribute to the form -->
    <form action="/api/user/survey/results">
        <div id="content1">
            <label>1. Which option best describes how much you sleep</label> <br><br>
            <div id="option1">
                <select>
                    <option>select number of hours</option>
                    <option value="5">1</option>
                    <option value="6">2</option>
                    <option value="7">3</option>
                    <option value="8">4</option>
                </select>
            </div>
            <br>
            <label id="head1">2. Would you let a friend take this survey</label><br><br>
            <input type="radio" name="radio" class="larger">definitely <br><br>
            <input type="radio" name="radio" class="larger">maybe <br><br>
            <input type="radio" name="radio" class="larger">not at all <br><br>

            <!-- Submit Button -->
            <button type="submit">
                <h3>Submit Survey</h3>
            </button>
        </div>
        <br>
    </form>
</body>
</html>
